<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Morgan GUICHARD – Cybersécurité, Data, DevOps | Epitech Montpellier">
    <meta name="description" content="Le portfolio de Morgan GUICHARD, étudiant en cybersécurité à Epitech Montpellier, spécialisé en cyberdéfense embarquée et développement.">
    <meta name="keywords" content="Morgan GUICHARD, Portfolio, Epitech, Montpellier, cybersécurité, cyberdéfense embarquée, data, DevOps, sécurité offensive, technologies avancées, innovation, protection, systèmes critiques, automation, SQL, projets, compétences">
    <meta name="creator" content="Morgan GUICHARD">
    <meta name="author" content="Morgan GUICHARD">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="French">
    <meta name="robots" content="index, follow">
    <meta name="google" content="notranslate">
    <meta name="google" content="max-snippet:-1">
    <meta name="revisit-after" content="7 days">
    <meta name="color-scheme" content="dark" />
    <meta name="theme-color" content="#161B22">
    <meta name="google-site-verification" content="7u6phWYl09egYxgjDR_WexjiRncDl4fNTCycnRal_-4" />

    <link rel="canonical" href="https://morgangch.github.io/Portfolio">
    <title>Projets Morgan GUICHARD – Cybersécurité, Data, DevOps | Epitech Montpellier</title>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="preload" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    </noscript>
    <!-- Inclure Vue depuis un CDN -->

    <link rel="preload" href="styles/projets.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="styles/projets.css">
    </noscript>
    <link rel="preload" href="styles/global.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="styles/global.css">
    </noscript>
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    </noscript>
</head>

<body>
    <div id="app" class="flex flex-col min-h-screen">
        <!-- Header -->
        <header class="header p-4">
            <div class="container mx-auto flex justify-between items-center">
                <h1 class="text-3xl font-bold text-[rgb(0,255,255)]"> <a href=index.html> Morgan GUICHARD</a></h1>
                <button @click="toggleMenu" class="lg:hidden focus:outline-none" aria-label="Open Navbar">
                    <svg class="w-6 h-6 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 6h16M4 12h16M4 18h16"></path>
                    </svg>
                </button>
                <nav :class="{'block': isMenuOpen, 'hidden': !isMenuOpen}"
                    class="lg:flex lg:items-center lg:space-x-4 flex flex-col lg:flex-row lg:space-y-0 space-y-2 mt-2 lg:mt-0">
                    <a href="index.html" class="hover:text-gray-400 lg:mt-0 mt-2">Accueil</a>
                    <a href="cv.html" class="hover:text-gray-400 lg:mt-0 mt-2">CV</a>
                    <a href="projets.html" class="hover:text-gray-400 lg:mt-0 mt-2">Projets</a>
                    <a href="contacts.html" class="hover:text-gray-400 lg:mt-0 mt-2">Contacts</a>
                    <a href="actualite.html" class="hover:text-gray-400 lg:mt-0 mt-2">Actualité</a>
                </nav>
            </div>
        </header>


        <!-- Main Content -->
        <main class="main-content flex-grow container mx-auto p-4">
            <section class="text-center mb-8">
                <h2 class="text-2xl font-bold mb-4">Projets</h2>
                <p class="mb-4">Explorez mes projets par catégorie, langage, et description. Note : Les noms de projets
                    seront accompagnés de petites pastilles : <br>
                    <em><span class="pastille bg-blue-500"></span>Si la pastille est bleue : Le projet est un projet
                        issu d'un projet scolaire (Lycée / Epitech)</em> <br>
                    <em><span class="pastille bg-yellow-500"></span>Si la pastille est jaune : Le projet est un projet
                        personnel</em> <br>
                    <em><span class="pastille bg-red-500"></span>Si la pastille est rouge : Le projet est un projet tiré
                        d'un évènement (JAM, CTF...)</em> <br>
                </p>
                <div v-for="category in projects" :key="category.name" class="mb-6">
                    <div @click="toggle(category)" class="category text-xl font-bold bg-blue-900 p-2 rounded-md mb-2">{{
                        category.name }}</div>
                    <div v-if="category.expanded" class="pl-4">
                        <div v-for="language in category.languages" :key="language.name" class="mb-4">
                            <div @click="toggle(language)"
                                class="language text-lg font-semibold bg-blue-700 p-2 rounded-md mb-2">{{ language.name
                                }}</div>
                            <div v-if="language.expanded" class="pl-4">
                                <div v-for="project in language.projects" :key="project.name" class="mb-2">
                                    <div @click="toggle(project)"
                                        class="project text-base bg-blue-500 p-2 rounded-md mb-1 flex justify-between items-center">
                                        <span>{{ project.name }}</span>
                                        <span :class="project.type" class="rounded-full h-4 w-4 inline-block"></span>
                                    </div>
                                    <div v-if="project.expanded" class="project-details bg-blue-400 p-2 rounded-md">
                                        <p class="text-white font-bold">{{ project.description }}</p>
                                        <a :href="project.link" target="_blank"
                                            class="text-blue-800 hover:underline hover:text-blue-900 font-bold">Voir le
                                            repository GitHub</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
    <section class="footer">
        <div class="box-container">
            <div class="box">
                <h3>Mes liens</h3>
                <a href="https://linkedin.com/in/morgan-guichard"><i class="fab fa-linkedin"></i>Linkedin</a>
                <a href="https://github.com/morgangch"><i class="fab fa-github"></i>Github</a>
            </div>
            <p class="copyright"> © 2024 - Morgan GUICHARD </p>
        </div>
    </section>

    <script>
        new Vue({
            el: '#app',
            data: {
                isMenuOpen: false,
                projects: [
                    {
                        name: 'Développement',
                        expanded: false,
                        languages: [
                            {
                                name: 'NodeJS (Web)',
                                expanded: false,
                                projects: [
                                    { name: 'My Login', description: 'Test de site avec back-end en NodeJS pour expérimenter la gestion et le stockage de logins pour gestion de comptes.', link: 'https://github.com/morgangch/My_Login', type: 'bg-yellow-500', expanded: false },
                                    { name: 'Epytodo', description: "Projet en NodeJS d'API pour .", link: 'https://github.com/morgangch/epytodo', type: 'bg-blue-800', expanded: false }
                                ]
                            },
                            {
                                name: 'Python',
                                expanded: false,
                                projects: [
                                    { name: 'GitMir-Cloner', description: "Script pour me permettre de dupliquer mes repositories de l'organisation Epitech pour ensuite les remettre sur mon profil en public, avec un mirroring actif, en gérant la création des variables et secrets tout seul", link: 'https://github.com/morgangch/GitMir-Maker', type: 'bg-yellow-500', expanded: false },
                                    { name: 'Repertoire Telephonique en Flask', description: "Un vieux projet de lycée dont le but était de faire un répertoire téléphonique en utilisant Flask. J'ai étendu le projet en ajoutant une gestion d'utilisateurs (légèrmeent obsolète aujourd'hui) qui m'avait servi de bonus. Chaque répertoire étant unique à chaque utilisateur", link: 'https://github.com/morgangch/RepTel-Flask', type: 'bg-blue-800', expanded: false }
                                ]
                            },
                            {
                                name: 'C',
                                expanded: false,
                                projects: [
                                    { name: 'MyPrintf', description: 'Premier vrai projet Epitech : recoder la fonction printf.', link: 'https://github.com/morgangch/MyPrintf', type: 'bg-blue-800', expanded: false },
                                    { name: 'MyRPG', description: "Dernier projet de 1ère année à Epitech : Un RPG utilisant la CSFML fait sans moteur de jeu", link: 'https://github.com/morgangch/our_rpg', type: 'bg-blue-800', expanded: false },
                                    { name: 'Minishell2', description: "Programme qui consiste à recoder un shell ; sa gestion de l'environnement, des commandes, des commandes 'builtins' (cd, setenv, unsetenv). Inspiré de TCSH.", link: 'https://github.com/morgangch/minishell2', type: 'bg-blue-800', expanded: false }
                                ]
                            },
                            {
                                name: 'Bash',
                                expanded: false,
                                projects: [
                                    { name: 'Git Switcher', description: "Très court et simple script pour me permettre d'alterner entre mes deux comptes github.", link: 'https://github.com/morgangch/git_switcher', type: 'bg-yellow-500', expanded: false },
                                    { name: 'Epi Git Cloner', description: "Script qui permet de cloner mes projets Epitech en reprenant automatiquement la nomenclature des projets Epitech.", link: 'https://github.com/morgangch/git_switcher', type: 'bg-yellow-500', expanded: false }
                                ]
                            }
                        ]
                    },
                    {
                        name: 'DevOps',
                        expanded: false,
                        languages: [
                            {
                                name: 'GitHub CLI',
                                expanded: false,
                                projects: [
                                    { name: 'Chocol- Pain au Chocolat', description: 'Projet de mirroring github avec des Github Actions, avec test du Coding Style Epitech.', link: 'https://github.com/morgangch/pain_au_chocolat', type: 'bg-blue-800', expanded: false }
                                ]
                            }
                        ]
                    },
                    {
                        name: 'Cybersécurité',
                        expanded: false,
                        languages: [
                            {
                                name: 'Writeups',
                                expanded: false,
                                projects: [
                                    { name: 'GCC CTF 2024', description: "Mon write-up pour la GCC CTF 2024. Que j'ai fini en 5e place.", link: 'https://github.com/morgangch/GCC-CTF-2024', type: 'bg-red-500', expanded: false },
                                    { name: 'Burp Epitech 2024', description: "Mon write-up pour le Burp, CTF d'Epitech. Je n'ai pas eu l'occasion de faire beaucoup de challenges étant débordé sur cette période.", link: 'https://github.com/morgangch/Burp', type: 'bg-red-500', expanded: false }
                                ]
                            }
                        ]
                    },
                    {
                        name: 'Jeux',
                        expanded: false,
                        languages: [
                            {
                                name: 'Unity',
                                expanded: false,
                                projects: [
                                    { name: "Les Portes de l'Enigme", description: "Jeu développé sur Unity pour une JAM Epitech. Principe simple d'exploration de labyrinthes générés procéduralement, l'idée à terme est d'en faire une génération bien plus poussée avec de vraies énigmes poussées", link: 'https://github.com/morgangch/Jam2', type: 'bg-red-500', expanded: false }
                                ]
                            },
                            {
                                name: 'Godot',
                                expanded: false,
                                projects: [
                                    { name: "Pas de projet encore", description: "", link: '', type: '', expanded: false }
                                ]
                            },
                            {
                                name: 'Unreal Engine',
                                expanded: false,
                                projects: [
                                    { name: "Pas de projet encore", description: "", link: '', type: '', expanded: false }
                                ]
                            }
                        ]
                    }
                ]
            },
            methods: {
                toggle(item) {
                    item.expanded = !item.expanded;
                },
                toggleMenu() {
                    this.isMenuOpen = !this.isMenuOpen;
                }
            }
        });
    </script>
</body>

</html>