.picture {
    object-fit: cover;
    margin-right: 20px;
    min-width: 10rem;
    min-height: 10rem;
    max-width: 10rem;
    max-height: 10rem;
}

.picture_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.picture_separator {
    margin-top: 40px;
    align-self: center;
    width: 50%;
}